body{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "微软雅黑",arial;
}
ul,li{
	list-style: none;
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
.container-fluid:nth-child(1){
	background: rgba(0,0,0,0.7);
	transition:background .6s;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
}
.min-nav{
	width: 100%;
	height: 44px;
}
.min-navs{
	width: 100%;
	height: 44px;
	text-align: justify;
}
.min-navs:after{
	content: "";
	display: inline-block;
	width: 100%;
}
.nav-span{
	width: 44px;
	height: 44px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 7px;
}
.nav-span span{
	width: 60%;
	display: inline-block;
	border-top: 1px solid #fff;
	transition:all .3s;
}
.nav-span span:nth-child(1){
	margin-top:17px;
}

.nav-span#active span:nth-child(1){
	transform:translateY(4px) rotate(135deg);
}
.nav-span#active span:nth-child(2){
	transform:translateY(-4px) rotate(45deg);
}

.nav-shopping,.nav-log,.nav-sousuo{
	display: inline-block;
	font-size: 20px;
	color: #fff;
}

.min-nav ul{
	background: #000;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 30px;
	padding-left: 30px;
	height: 0;
	overflow: hidden;
	transition:height .6s;
	position: relative;
	z-index: 10;
}
.min-nav ul li{
	width: 100%;
	height: 47px;
	border-bottom: 1px solid #333333;
	color: #fff;
	font-size: 20px;
	line-height: 47px;
}


.max-nav{
	max-width: 978px;
	height: 44px;
	margin: 0 auto;
	text-align: justify;
}
.max-nav:after{
	content: "";
	display: inline-block;
	width: 100%;
}
.max-nav a{
	display: inline-block;
	line-height: 44px;
	color: #fff;
	height: 44px;
	font-size: 16px;
	transition:opacity .3s;
}
.max-nav a:hover{
	opacity: 0.6;
}
.min-block{
	display: block;
}
.max-block{
	display: none;
}
.swiper-container{
	width: 100%;
	height: 526px;
	position: relative;
	overflow: hidden;
}



	.banner{
		width: 100%;
		height: 526px;
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
	}
	.banner>img{
		position: absolute;
		left: 50%;
		top: 0;
		transform:translateX(-50%);
	}
	.banner-p{
		width: 100%;
		height: 130px;
		position: absolute;
		left: 0;
		bottom: 65px;
		/*background: #ccc;*/
	}
	.banner-p h2{
		font-size: 40px;
		margin: 0;
		font-weight: 200;
		text-align: center;
	}
	.banner-p h3{
		font-size: 20px;
		margin: 0;
		font-weight: 100;
		text-align: center;
	}

	.banner:nth-child(1)>img{
		width: 768px;
		top: 0;
	}
	.banner:nth-child(2)>img{
		top: auto;
		bottom: -318px;
		transform:translateX(-70%);
	}
	.banner:nth-child(3)>img{
		width: 290px;
		top: 122px;
	}
	.banner:nth-child(4)>img{
		min-width: 818px;
		/*max-width: 100%;*/
		transform:translateX(-62%) translateY(-10%);
	}
	.banner:nth-child(2)>.banner-p{
		top: 135px;
	}
	.banner:nth-child(3)>.banner-p{
		top: 303px;
	}
	.banner:nth-child(4)>.banner-p{
		margin:auto;
		left: 0;
		top: 88px;
		bottom: auto;
		color: #fff;
	}

.btnbox{
	width: 88px;
	height: 10px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 9px;
	z-index: 99;
}
.btn{
	width: 10px;
	height: 10px;
	box-sizing:border-box;
	background:#999999;
	border-radius: 10px;
	margin-right: 16px;
	float: left;
}
.btn:nth-child(4){
	margin-right: 0;
}
.left,.right{
	width: 30px;
	height: 72px;
	font-size: 60px;
	text-align: center;
	line-height: 72px;
	font-family: "宋体";
	color: #000;
	position: absolute;
	left: 35px;
	top: 50%;
	display: none;
	cursor: pointer;
}
.right{
	left: auto;
	right: 35px;
}







.smallban:after{
	content: "";
	display: block;
	clear: both;
}
.smallban li:nth-child(1) a{
	display: block;
	height: 200px;
	overflow: hidden;
	background: url(../images/tradeup_medium.jpg) no-repeat center center/cover;
}
.smallban li:nth-child(2) a{
	display: block;
	height: 200px;
	overflow: hidden;
	background: url(../images/watch_medium.jpg) no-repeat center center/cover;
}
.smallban li:nth-child(3) a{
	display: block;
	height: 200px;
	overflow: hidden;
	background: url(../images/ipadpro_medium.jpg) no-repeat center center/cover;
}
.smallban li:nth-child(4) a{
	display: block;
	height: 200px;
	overflow: hidden;
	background: url(../images/hp_tiles_ipad_medium.jpg) no-repeat center center/cover;
}
@media screen and (max-width: 768px){
	.bottom{
		width: 100%;
		background: #F2F2F2;
		padding: 0 15px 0 15px;
	}
	.btmnavbox{
		max-width: 980px;
		padding-top: 32px;
	}
	.btmnav{
		width: 100%;
		height: auto;
	}
	.btmnav h5{
		margin: 0;
		display: block;
		width: 100%;
		height: 38px;
		line-height: 38px;
		background: #f2f2f2;
		position: relative;
		z-index: 5;
		border-bottom:1px solid #E3E3E3;

	}
	.btmnav ul{
		height: 0;
		transform:translateY(-40px);
		overflow: hidden;
		transition:all .2s linear;
	}
	.btmnav ul li{
		padding-left: 14px;
		font-size: 12px;
	}
	.btmnav li a{
		color: #666666;
		line-height: 25px;
	}
	.aboutour{
		width: 100%;
		height: auto;
		padding: 20px 0 25px 0;
	}
	.aboutour{
		font-size: 12px;
		color: #999;
	}
	.aboutour a{
		font-size: 12px;
	}
	.aboutour p{
		margin-top: 10px;
	}
	.aboutour .phone{
		line-height: 26px;
		border-bottom: 1px solid #E3E3E3;
		margin-bottom: 7px;
	}
	.china{
		width: 100%;
		padding-left: 21px;
		background: url(../images/16.png) no-repeat;
	}
	.mycopy{
	}
	.myfuwu{
		margin-top: 10px;
	}
	.myfuwu a{
		width: 53px;
		color: #999999;
		font-size: 10px;
		margin-right: 10px;
		padding-right: 12px;
		box-sizing:content-box;
		border-right: 1px solid #D6D6D6;
	}

	.btmnav h5 span{
		float: right;
		font-size: 16px;
		color: #333333;
		display: block;
		cursor: pointer;
		transition:all .5s linear;
	}


	.btmnav ul.active{
		height: auto;
		transform:translateY(0);
	}
	.btmnav h5 span.active{
		transform:rotateZ(45deg);
	}


}




@media screen and (min-width: 768px){
	.min-display{
		display: none;
	}
	.max-display{
		display: block;
	}
	


	.swiper-container{
		width: 100%;
		height: 650px;
		position: relative;
	}
	.banner{
		width: 100%;
		height: 650px;
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
	}
	.banner>img{
		position: absolute;
		left: 50%;
		top: 0;
		transform:translateX(-50%);
	}
	.banner-p{
		width: 100%;
		height: 130px;
		position: absolute;
		left: 0;
		bottom: 65px;
		/*background: #ccc;*/
	}
	.banner-p h2{
		font-size: 52px;
		margin: 0;
		font-weight: 200;
		text-align: center;
	}
	.banner-p h3{
		font-size: 22px;
		margin: 0;
		font-weight: 100;
		text-align: center;
	}

	.banner:nth-child(1)>img{
		width: 1282px;
		top: -65px;
	}
	.banner:nth-child(2)>img{
		top: auto;
		bottom: -136px;
		transform:translateX(-50%);
	}
	.banner:nth-child(3)>img{
		width: 650px;
		top: 257px;
	}
	.banner:nth-child(4)>img{
		min-width: 1011px;
		max-width: 100%;
		transform:translateX(-50%) translateY(0);
	}
	.banner:nth-child(2)>.banner-p{
		top: 135px;
	}
	.banner:nth-child(3)>.banner-p{
		top: 95px;
	}
	.banner:nth-child(4)>.banner-p{
		margin:auto;
		left: -190px;
		top: 0;
		bottom: 0;
		color: #fff;
	}



	

	.bottom{
		max-width: 1024px;
		margin: 0 auto;
		padding: 0 22px;
	}
	.btmnavbox{
		width: 100%;
		height: 100%;
		padding-top: 32px;
	}
	.bottom:after,.btmnavbox:after{
		content: "";
		display: block;
		clear: both;
	}
	.btmnav{
		width: 20%;
		float: left;
	}
	.btmnav>h5{
		margin: 0;
		font-size:12px;
		line-height: 25px;
		color: #333;
	}
	.btmnav li a{
		font-size: 12px;
		color: #666;
		line-height: 25px;
	}
	.aboutour{
		width: 100%;
		height: 96px;
		padding: 20px 0 25px 0;
	}
	.aboutour{
		font-size: 12px;
		color: #999;
	}
	.aboutour a{
		font-size: 12px;
	}
	.aboutour p{
		margin-top: 10px;
	}
	.aboutour .phone{
		line-height: 26px;
		border-bottom: 1px solid #E3E3E3;
		margin-bottom: 7px;
	}
	.china{
		width: 53px;
		float: right;
		padding-left: 21px;
		background: url(../images/16.png) no-repeat;
	}
	.mycopy{
		float: left;
		margin-right: 26px;
	}
	.myfuwu{
		float: left;
	}
	.myfuwu a{
		width: 53px;
		color: #707070;
		margin-right: 10px;
		padding-right: 12px;
		box-sizing:content-box;
		border-right: 1px solid #D6D6D6;
	}
	.btmnav h5 span{
		display: none;
	}
	


}
@media screen and (min-width: 1024px){
	


	.smallban li:nth-child(1) a{
		display: block;
		height: 200px;
		overflow: hidden;
		background: url(../images/tradeup_large.jpg) no-repeat center center;
	}
	.smallban li:nth-child(2) a{
		display: block;
		height: 200px;
		overflow: hidden;
		background: url(../images/watch_large.jpg) no-repeat center center;
	}
	.smallban li:nth-child(3) a{
		display: block;
		height: 200px;
		overflow: hidden;
		background: url(../images/ipadpro_large.jpg) no-repeat center center;
	}
	.smallban li:nth-child(4) a{
		display: block;
		height: 200px;
		overflow: hidden;
		background: url(../images/hp_tiles_ipad_large.jpg) no-repeat center center;
	}



}